@import '../utils/variables';
@import '../components/container';
@import '../components/common';

.footer{
    background-color: $secoundary-color;
    padding: 60px 0;
}



.footer {
    .container{
    display: grid;
    gap: 8px;
    grid-template-columns: auto; 
    justify-content: center;
    text-align: center;
    @media screen and (min-width: 767px) and (max-width:1199px) {
        grid-template-columns: auto auto;
        row-gap: 60px;
        column-gap: 144px; 
    }
    @media screen and (min-width: 1200px) {
        display: flex;
        flex-direction:row;
        align-items: center;
        gap: 0;
    }
    }
    .socials{
        margin: 0 auto;
        margin-bottom: 60px;
        text-align: center;
        @media screen and (min-width: 1200px) {
            text-align: left;
            max-width: 206px;
            margin: 0 70px;
        }
    }
}

.address{
    margin-bottom: 60px;
    @media screen and (min-width: 1200px) {
        text-align: left;
        margin-bottom: 0;
    }
    &__logo{
        color: white;
    }
    &__list{
        display: grid;
        grid-template-columns: auto;    
        gap: 8px;
        @media screen and (min-width: 1200px) {
            gap: 9px;
        }
    }
    &__contacts{
        color: white;
        margin-bottom: 8px;
        @media screen and (min-width: 1200px) {
            margin-bottom: 9px;
        }
        margin-top: 20px;
        @include semi-bold-font(14px, 1.71)
    }
    &__link{
        color: rgba(255, 255, 255, 0.6);
        @include animation(color);
        &:hover,
        &:focus{
            color: $main-color;
        } 
    }
}

.newsletter{
    display:block;
    @media screen and (min-width: 767px) {
        place-self: center;
        grid-column: span 2;
        grid-auto-flow: column;
    }
    @media screen and (min-width: 1199px) {
        text-align: left;
        margin-left: 8px;
    }
    &__form{
        display: flex;
        flex-direction: column;
        gap: 20px;
        @media screen and (min-width: 1199px) {
            flex-direction: row;
            gap: 12px;
        }
    }
    &__input{
        width: 358px;
        height: 50px;
        background:transparent;
        border: 1px solid rgba(255, 255, 255, 0.3);
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
        border-radius: 4px;
        padding-left: 16px;
        @include animation(border);
        &:hover,
        &:focus{
            border: 1px solid $main-color;
        }
    }
    &__btn{
        background-color: $main-color;
        color: #fff;
        border: none;
        border-radius: 4px;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        width: 200px;
        display: flex;
        justify-content: left;
        align-items: center;
        gap: 24px;
        padding: 10px 0;
        padding-left: 42px;
        margin: 0 auto;
        cursor: pointer;
    }
}