@import '../utils/variables.scss';
@import '../layout/mobile-menu';

header{
    border-bottom: 1px solid #ECECEC;
    padding: 0 auto;
    .container{
        display: flex;
        align-items: center;
        height: 80px;
    }
}

.navigation{
    padding: 0 15px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    @media screen and (min-width: 767px){
        justify-content: right;
        width: auto;
    }
      
    &__logo{
        font-family: 'Raleway', 'Roboto', sans-serif;
        font-weight: 700;
        font-size: 26px;
        line-height: 1,192;
        letter-spacing: 0.03em;
        color: #000000;
        cursor: pointer;
        &--color-blue{
            color: $main-color;
        }
    }
    .menu-toggle{
        fill: $dark-grey;
        background: none;
        border: none;
        cursor: pointer;
        margin-left: auto;
        @media screen and (min-width: 767px){
            margin-left: 0;
        }
        &:hover,
        &:focus{
          fill: $main-color;
        }

    }
    &__list{
        display: none;
        align-items: center;
        gap: 46px;
        @media screen and (min-width: 767px){
            margin-left: 59px;
        }
        @media screen and (min-width: 1199px) {
            margin-left: 69px; 
        }
    }
    &__link{
        @include semi-bold-font(14px, 1.172);
        letter-spacing: 0.02em;
        cursor: pointer;
        position: relative;
        top: 2px;
        @include animation(color);

        &:visited{
            color: $dark-grey;
        }

        &::after{
            content:"";
            display:block;
            height: 4px;
            border-radius: 2px;
            background-color: transparent;
            position: relative;
            top:27px;
            @include animation(background-color);
        }

        &:hover,
        &:focus{
            color: $main-color;
            &::after{
                background-color: $main-color;
            }
        }
    }
    &__item--current &__link{
        color: $main-color;
    }
    &__item--current &__link::after{
        background-color: $main-color;
    }

}

.contacts{
    display: none;
    margin-left: auto;
    gap: 50px;
    @include semi-bold-font(14px, 1.423);
    letter-spacing: 0.02em;
    color: $light-grey;
    @media (min-width: 767px) {
        flex-direction: column;
        gap: 10px;
        display: flex;
    }
    @media (min-width: 1199px) {
        flex-direction: row;
        gap: 30px;
    }
    &__item &__link{
        color: $light-grey;
        fill: $light-grey;
        @include animation(color fill);
    }

    &__item:hover &__link,
    &__item:focus &__link{
        color: $main-color;
        fill: $main-color;
    }
}


@media (min-width: 767px) {
    .navigation__list{
        display: flex;
    }
    .menu-toggle{
        position: relative;
        top: -300px;
    }
}

