@import '../components/container';
@import '../layout/index';
@import '../utils/variables.scss';

.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 32px;
  background-color: white;
  z-index: 999;

  transform: translateX(100%);
  transition: transform 250ms ease-in-out;
  .menu-toggle{
    border: none;
    background: none;
    position: absolute;
    top: 30px;
    right: 90px;
    fill: #000;
    cursor: pointer;
  }
  &__list{
    padding: 0;
    margin: 0;
    list-style: none;
  }
  &__link{
    display: block;
    padding: 10px;
    color: #000;
    text-decoration: none;
    @include semi-bold-font(40px, 1.175);
    letter-spacing: 0.02em;
    &:hover,
    &:focus{
      color: $main-color;
    }
  }

  &__contacts{
    padding-top: 38.568vh;
    padding-bottom: 37px;
  }

  &__contact{
    padding-left: 8px;
    padding-bottom: 27px;
    &:first-child{
      & .link{
      color: $main-color;
      @include semi-bold-font(34px, 1.18);
      letter-spacing: 0.02em;
      }
    }
    &:last-child{
      & .link{
      color:$light-grey;
      @include semi-bold-font(24px, 1.17);
      letter-spacing: 0.02em;
      }
    }
  }

  &__socials{
    display: flex;
    & li{
      display: flex;
      flex-wrap: nowrap;
    }
     & li:not(:last-child)::after{
       content: "";
       height: 22px;
       width: 1px;
       background-color: rgba(33, 33, 33, 0.2);
       position: relative;
       display: block;
       margin-right: 10px;
     }
  }
  &__social {
    margin-right: 9px;
    color: $main-color;
    @include semi-bold-font(18px, 1.33);
    letter-spacing: 0.02em;
  }
}

.menu-container.is-open {
  transform: translateX(0);
}



